* {
    font-family: 'Noto Sans KR', sans-serif;
	color: #bbbbbb;
}

html {
	background: #1e1e1e;
}

#notfound .notfound {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 358px;
	display: flex;
	flex-wrap: wrap;
	word-break: keep-all;
	width: 100%;
	padding: 100px 10px 0 10px;
}

.notfound {
	max-width: 500px;
	width: 100%;
	line-height: 1.4;
	text-align: left;
}

.notfound .notfound-UC {
	position: relative;
	height: 120px
}

.notfound  h1 {
	position: block;
	font-size: 90px;
	font-weight: 700;
	margin: 0;
	color: #ff7272;
	-webkit-background-clip: text;
	background-clip: text;
	text-transform: uppercase;
    line-height: 130px;
    text-align: left;
}

.notfound h2 {
	color: #ececec;
    display: inline-block;
	font-size: 33px;
	font-weight: 700;
	letter-spacing: 1px;
    padding-top: 13px;
    margin-top: 0;
    margin-bottom: 0;
}

.notfound h4 {
	font-size: 15px;
	margin-top: 10px;
}

.notfound p {
	font-size: 16px;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 25px
}

.notfound a {
	color: #ff6f68;
	font-weight: 200;
	text-decoration: none;
	border-bottom: 1px dashed #ff6f68;
	border-radius: 2px
}
